# =========================
# SPRING PROFILE
# =========================
SPRING_PROFILES_ACTIVE=prod

# =========================
# DATABASE (POSTGRES)
# =========================
spring.datasource.url=jdbc:mysql://localhost:3306/probeapi
spring.datasource.username=root
spring.datasource.password=1234
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect

# =========================
# JWT CONFIG (STRICT)
# =========================
JWT_SECRET=super-secure-random-64-char-secret-key
JWT_EXPIRATION=86400000

# =========================
# SERVER CONFIG
# =========================
PORT=8080